@import "../../index.less";

.titlebar {
  background-color: @first-blue;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: @titlebar-size-mobile;
  border-bottom: 1px solid @first-dark-blue;
  box-shadow: @shadow;
  .titlebar-container {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    .info {
      h5 {
        margin: 0;
        margin-top: 4px;
      }
      a {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}